#form-container {
    margin: 0 auto;
    width: 400px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #form-container h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #444;
  }
  
  form label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #444;
    text-align: center;
    width: 100%;
    max-width: 100px;
  }
  
  form input[type="text"], form input[type="file"] {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  form button[type="submit"] {
    background-color: #8bc34a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  form button[type="submit"]:hover {
    background-color: #689f38;
  }
  