.pet-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: start;
    margin-top: 20px;
}

.pet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
}

.pet-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
}

.pet-name {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.pet-desc {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.pet-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.pet-button:hover {
    background-color: #3E8E41;
}
